<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <input type="text" v-model="n" /> +
    <input type="text" v-model="m" /> +
    <span>{{sum}}</span>
</div>


<script src="../vue.js"></script>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            n: 0,
            m: 0,
            sum: 0
        },
        watch:{
            n: function () {
                this.sum = +this.n + +this.m;
            },
            m: function () {
                this.sum = +this.n + +this.m;
            }
        }
    });
</script>
</body>
</html>